<div class="BodyContainer">

    <section class="Gallery-Section">

        <div class="Image-Gallery">
            <img src="~/Images/GalleryImages/Longtank-big.jpg" class="Gallery-Highlight" />
            <div class="Image-Preview">
                <img src="~/Images/GalleryImages/PeopleLookingAtFishtanks-small.jpg" />
                <img src="~/Images/GalleryImages/wideFishTank-small.jpg" />
                <img src="~/Images/GalleryImages/AquariumFishtanks-small.jpg" />
            </div>
        </div>
    </section>

</div>