@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center pt-md-3">Welcome to Nothern Aquatics</h1>
<div id="HomeCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/HomepageImages/kidWithDolphin.jpg" alt="Kid with Dolphin" />
            <div class="carousel-caption">
                <h1>Come Explore</h1>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/HomepageImages/kidsLookingAtBigTank.jpg" alt="looking at tank" />
            <div class="carousel-caption">
                <h1>Be Yourself</h1>
            </div>
        </div>

        <div class="carousel-item">
            <img class="d-block w-100" src="~/Images/HomepageImages/pointingAtShark.jpg" alt="people with shark" />
            <div class="carousel-caption">
                <h1>Have Fun!</h1>
            </div>
        </div>
    </div>
</div>

<div></div>

    

<div class="row pt-md-5 pb-lg-5">
    <div class="col-8">
        <h4>
            Come down to Northern Aquatics where you can see a range of fun and exciting fish-themed events
            taking place at our centers every month. From shark adventures to educational excursions, Northern Aquatics
            has something for everyone. Come on down to our store to find out more! Alternatively, you can email us on 
            welovefish@aquariums.com
            A tell thi, thas never far from a good day art' with Northern Aquatics!
        </h4>
    </div>
    <div class="col-4">
        <img src="~/Images/HomepageImages/peopleSatInCircle.jpg" class="img-fluid" alt="People sat in Circle"/>
    </div>
</div>

<div class="row pt-lg-5">
    <div class="col-4">
        <img src="~/Images/HomepageImages/kidWithTank.jpg" class="img-fluid" alt="Child with tank" />
    </div>
    <div class="col-8">
        <h4>Northern Aquatics stocks a huge range of aquariums and fish tanks from contemporary to traditional, 
        freshwater to marine and from little to large. Many of our aquariums are available in many different colours 
        and with or without cabinets to suit your needs. Browse the full range online now and find the perfect home for 
        your new pets, while also complimenting the interior design of your home with some living art.
        </h4>
    </div>
</div>

@*   1024x700  *@